{% extends 'layouts/main.html' %}
{% block title %}Website Settings{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Website Settings</h1>
</div>
<form method="POST" class="form" action="/">
    {{ form.csrf_token }}
    {{ form.website(class_ = 'form-control first-input last-input', placeholder = form.website.label.text, required=true) }}
    {{ form.xpath(class_ = 'form-control first-input last-input', placeholder = form.xpath.label.text) }}
    {{ form.threads(class_ = 'form-control first-input last-input', placeholder = form.threads.label.text, required=true, type="number", min="1", step="1") }}
    {{ form.start_threads(class_ = 'form-control first-input last-input', placeholder = form.start_threads.label.text, required=true, type="number", min="1", step="1") }}
    {{ form.time_min(class_ = 'form-control first-input last-input', placeholder = form.time_min.label.text, required=true, type="number", min="0", step="1") }}
    {{ form.time_max(class_ = 'form-control first-input last-input', placeholder = form.time_max.label.text, required=true, type="number", min="0", step="1") }}
    {{ form.total_bots(class_ = 'form-control first-input last-input', placeholder = form.total_bots.label.text, required=true, type="number", min="0", step="1") }}
    {{form.display_windows.label.text }} {{ form.display_windows}}
    <input type="submit" value="Save" class="btn btn-lg btn-primary btn-block"/>
  </form>

{% endblock %}
